p{
    color: #8f8f8f;
}
h2{
    font-family:"Montserrat-Bold" ;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: "Montserrat-Bold";
}
/* title */
#title{
    background-color: #ff4c6a;
}
.page-title{
    font-family: 'Montserrat-Black';
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}
.container-fluid{
    padding: 3% 13%;
}
/* nav-bar */
.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;

}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
/* button */
.down-button{
 margin: 5% 3% 5% 0;   
}
/* title */
.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
}
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.feature-box{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5%;
}
.icon{
    margin-bottom: 1rem;
    color: #ff4c68;
}
.icon:hover{
    color: #ff4c68;
}

#testimonials{
    text-align: center;
    background-color:#ff4c68;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    text-align: center;
    background-color:#ff4c68;
    padding-bottom: 3%;
}
.press-img{
    width: 15%;
    margin: 20px 20px 15px 20px;
}
.carousel-item{
    padding: 7% 15%;
}

#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
@media (max-width:1028px){
    .title-img{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}
#cta{
    text-align: center;
    background-color: #ff4c68;
    padding: 7% 15%;
}
.cta-text{
    font-family: 'Montserrat-Black';
    font-size: 3rem;
    line-height: 1.5;
    padding: 3% 13%;
    color: #fff;
}
#footer{
    
    padding: 7% 15%;
}
.social-icon{
    margin: 20px 10px;
}